version: "3.8"
services:
  # Overrides for mounting local code to hot reload in dev environment
  api-gateway:
    volumes:
      - ../../api-gateway:/app
      - /app/node_modules
  user-service:
    volumes:
      - ../../services/user-service:/app
      - /app/node_modules
